body{
    margin: 0;
}
.top-visual{
    background-image:url("./images/sp.jpg");
    height: 100vh;
    width: 100vw;
    color:#FFF;
    position: fixed;
    top: 0;
    left: 0;
    background-size:cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.top-visual h1{
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
    transform: translate(-50%,-50%);
}
.contents{
    position:relative;
    background-color: #FCFCFF;
    margin-top: 100vh;
    margin-left: 5%;
    margin-right: 5%;
    z-index:1;
}
.content{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.content h2{
    font-size: 3vw;
    text-align:center;
    font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif; 
    margin: 0;
    padding: 2%;
}
.content h2:first-letter{
    color: #3261AB;
}
#delicious .img-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row-reverse;
}
#delicious .img-wrap .img{
    width: 50%;
}
#delicious .img-wrap .text{
    width: 50%;
}
#delicious .img-wrap .img img{
    width: 45vw;
    filter: brightness(120%);
}
